In [3]:
import pandas as pd
import os

In [13]:
# Iterate over all folders inside ../data/data_quality/ and inside each folder, rename the file by the same
# name but only with the first 3 characters of the file name.
# only do it for the .csv files
# don't do it for the hidden files
# delete all the other files that are not .csv

for folder in os.listdir('../../data/air_quality/'):
    if not folder.startswith('.'):
        for file in os.listdir(f'../../data/air_quality/{folder}'):
            if file.endswith('.csv') and not file.startswith('.'):
                os.rename(f'../../data/air_quality/{folder}/{file}', f'../../data/air_quality/{folder}/{file[:3]}.csv')
            else:
                os.remove(f'../../data/air_quality/{folder}/{file}')

In [14]:
# Iterate over all folders and create one big dataframe with all the data
df = pd.DataFrame()
for folder in os.listdir('../../data/air_quality/'):
    if not folder.startswith('.'):
        for file in os.listdir(f'../../data/air_quality/{folder}'):
            df = pd.concat([df, pd.read_csv(f'../../data/air_quality/{folder}/{file}', delimiter=';')])

In [15]:
df

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2003,7,1,5.00,V,...,5.00,V,5.00,V,4.00,V,4.00,V,5.00,V
1,28,79,4,1,28079004_1_38,2003,7,2,4.00,V,...,6.00,V,6.00,V,6.00,V,6.00,V,5.00,V
2,28,79,4,1,28079004_1_38,2003,7,3,5.00,V,...,4.00,V,4.00,V,5.00,V,6.00,V,7.00,V
3,28,79,4,1,28079004_1_38,2003,7,4,5.00,V,...,8.00,V,7.00,V,7.00,V,6.00,V,7.00,V
4,28,79,4,1,28079004_1_38,2003,7,5,0.00,N,...,5.00,V,5.00,V,5.00,V,5.00,V,6.00,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3955,28,79,60,14,28079060_14_6,2022,8,27,76.73,V,...,120.73,V,103.33,V,75.74,V,68.54,V,48.05,V
3956,28,79,60,14,28079060_14_6,2022,8,28,66.89,V,...,109.67,V,104.08,V,85.52,V,95.75,V,88.87,V
3957,28,79,60,14,28079060_14_6,2022,8,29,80.78,V,...,98.75,V,98.61,V,84.55,V,70.58,V,68.63,V
3958,28,79,60,14,28079060_14_6,2022,8,30,66.38,V,...,108.41,V,104.85,V,98.51,V,93.47,V,95.87,V
3959,28,79,60,14,28079060_14_6,2022,8,31,94.81,V,...,110.29,V,106.34,V,96.70,V,88.72,V,72.92,V

In [25]:
df.columns

Index(['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO',
       'ANO', 'MES', 'DIA', 'H01', 'V01', 'H02', 'V02', 'H03', 'V03', 'H04',
       'V04', 'H05', 'V05', 'H06', 'V06', 'H07', 'V07', 'H08', 'V08', 'H09',
       'V09', 'H10', 'V10', 'H11', 'V11', 'H12', 'V12', 'H13', 'V13', 'H14',
       'V14', 'H15', 'V15', 'H16', 'V16', 'H17', 'V17', 'H18', 'V18', 'H19',
       'V19', 'H20', 'V20', 'H21', 'V21', 'H22', 'V22', 'H23', 'V23', 'H24',
       'V24'],
      dtype='object')

In [16]:
df.to_parquet('../../data/air_quality/all_data_air_quality.parquet', index=False)

In [17]:
df = df[df['ANO'] >= 2013]
df.to_parquet('../../data/air_quality/all_data_air_quality_from_2013.parquet', index=False)

In [20]:
df.ESTACION.nunique()

24

In [24]:
df.PUNTO_MUESTREO.nunique()

157